__pycache__/
*.swp
*.whl
*-temp.py
_temp/
dist/
github-actions-demo.yml
f1.json
F1.json
f2.json
F2.json
f1.yml
F1.yml
f2.yaml
F2.yaml
yaml_gendiff.py
.github/workflows/mail.yml
gendiff/yaml_gendiff.py
Makefile
gendiff/Makefile
html/
